:root {
  /* Font size maintenance */
  --fs-xl: clamp(6rem, 9vw, 9rem);
  --fs-600: clamp(4rem, 5vw, 6rem);
  --fs-500: clamp(1.5rem, 2vw, 2rem);
  --fs-400: 1rem;
  --fs-300: 0.9rem;

  /* Colour variables */
  --bg-grey: #F7F3F0;
  --warm-orange: #F54029;
  --washed-black: #111111;
  --bright-white: #FFFFFF;
}

@media (max-width: 992px) {
  :root {
    --fs-xl: clamp(3rem, 9vw, 5rem);
    --fs-600: 4rem;
    --fs-500: 1.5rem;
    --fs-300: 0.85rem;
  }
}

body {
  font-family: 'Hanken Grotesk', sans-serif;
  margin: 0 20px;
  padding: 0;
  background-color: var(--bg-grey);
}

@media (max-width: 460px) {
  body {
    margin: 0 10px;
  }
}

/* 
  STYLE GUIDE SECTIONS -------------------
*/

.elem-section {
  border-top: solid var(--washed-black);
  margin-bottom: 6rem;
}

section h2 {
  margin-bottom: 1.5rem;
}

section h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

section p {
  margin-top: 0;
}

section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
}

.content-wrapper {
  margin-left: 6rem;
}

#dot {
  color: var(--warm-orange);
}

/* 
  TEXT ELEMENTS -------------------
*/
h1,
h2,
h3,
h4 {
  color: var(--washed-black);
  margin: 0;
}

h1 {
  font-size: var(--fs-xl);
  line-height: calc(var(--fs-xl) * 0.9);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5rem;
}

h2 {
  font-size: var(--fs-600);
  line-height: calc(var(--fs-600) * 0.9);
  font-weight: 500;
}

h3 {
  font-size: var(--fs-500);
  font-weight: 500;
}

h4 {
  font-size: var(--fs-700);
  font-weight: 700;
}

p {
  font-size: var(--fs-400);
  font-weight: 400;
  max-width: 40vw;
}

/* Changing bullet colour from:  https://www.w3.org/Style/Examples/007/color-bullets.en.html*/
ul,
ol {
  list-style: none;
  font-family: 'Roboto Mono';
  color: var(--washed-black);
}

.custom-ul li::before {
  content: "•";
  color: var(--warm-orange);
  display: inline-block;
  width: 1em;
  margin-left: -1em
}

.custom-ol li {
  counter-increment: li
}

.custom-ol li::before {
  content: counter(li);
  color: var(--warm-orange);
  display: inline-block;
  width: 1em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  text-align: right;
  direction: rtl
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.nav-button {
  display: inline-block;
  padding: 0.35em 1.5em;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid var(--washed-black);
  border-radius: 5em;
  text-decoration: none;
  -webkit-transition: background-color 0.35s ease-out;
  transition: background-color 0.35s ease-out;

  font-family: 'Roboto Mono', 'monospace';
  font-size: var(--fs-300);
  color: var(--washed-black);
}

.nav-button:hover,
.nav-button:focus {
  background-color: var(--warm-orange);
  color: var(--bright-white)
}

/* Styling for the in-text link*/
.in-text-link {
  /* Link animation from: https://codepen.io/team/css-tricks/pen/gOXMLLY */
  color: var(--washed-black);
  box-shadow: inset 0 0 0 0 var(--warm-orange);
  padding: 0 .25rem;
  margin: 0 -.25rem;
  transition: color .2s ease-in-out, box-shadow .3s ease-in-out;
}

.in-text-link:hover {
  color: var(--bright-white);
  box-shadow: inset 200px 0 0 0 var(--warm-orange);
}

.clickable-img {
  /* Grey and blur effect from: https://codepen.io/nxworld/pen/ZYNOBZ */
  -webkit-filter: grayscale(0) blur(0);
  filter: grayscale(0) blur(0);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.clickable-img:hover {
  -webkit-filter: grayscale(100%) blur(3px);
  filter: grayscale(100%) blur(3px);
}

.example-img {
  /* Crop and scale images from: https://www.digitalocean.com/community/tutorials/css-cropping-images-object-fit */
  width: 25vw;
  height: 60vh;
  object-fit: cover;
  object-position: -20% 0;
}

.logo-button:hover,
.logo-button:active {
  /* Adding border to SVG from: https://stackoverflow.com/questions/18330344/how-to-add-border-outline-stroke-to-svg-elements-in-css */
  filter:
    invert(100%) drop-shadow(-1px -1px 0px var(--washed-black)) drop-shadow(1px -1px 0px var(--washed-black)) drop-shadow(1px 1px 0px var(--washed-black)) drop-shadow(-1px 1px 0px var(--washed-black));
}

.style-nav ul {
  display: flex;
  width: fit-content;
  gap: 0.5rem;
  padding: 0;
}

/* 
BRANDING ELEMS
*/

#colour-palette {
  border: 1px solid grey;
  width: 30vw;
}

/* 
Nav bar --------------
*/

/* Sticky nav from: https://stackoverflow.com/questions/3593594/how-to-keep-the-header-static-always-on-top-while-scrolling/58645785#58645785 */
.navbar {
  position: sticky;
  top: 0;
  z-index: 999;
}

nav {
  border-bottom: 1px solid var(--washed-black);
  background-color: var(--bg-grey);
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
}

nav .nav-button {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-inline-start: 0.5rem;
}

.full-nav li:first-child,
.full-nav li:nth-child(2) {
  /* Make logo stay on left side */
  margin-right: auto;
}

nav .mono-text {
  position: absolute;
  top: 25px;
  left: 10rem;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 999;
  background-color: var(--bg-grey);
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.sidebar li {
  width: 100%;
}

.nav-button.close-button {
  border: none;
  text-decoration: underline;
}

.close-icon {
  fill: var(--washed-black);
}

.menu-icon {
  fill: var(--washed-black);
}

.menu-button {
  display: none;
}

@media (max-width: 870px) {
  .accent-text {
    display: none;
  }

  .nav-logo {
    width: 25px;
    height: auto;
  }
}

@media (max-width: 460px) {
  .nav-button {
    font-size: 1.25rem;
  }

  .menu-button {
    display: block;
  }

  .hideOnMobile {
    display: none;
  }

  .sidebar {
    width: 100%;
  }
}


/* 
  ==============================
  WEBSITE STYLING ==============
  ==============================
*/

.home-content {
  margin-bottom: 5rem;
}

.hero-wrapper {
  margin-top: 2rem;
  max-width: 100vw;
  height: 80vh;
}

.hero-title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hero-title h1 {
  margin: 0;
  font-size:  clamp(5rem, 9vw, 9rem);
  line-height: clamp(5rem, 9vw, 8.5rem);
}

.mono-text {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.9rem;;
}

.line {
  position: relative;
}

.first {
  right: 5%;
}

.second {
  right: 20%;
}

.third {
  display: flex;
  right: 0;
}

.dot-decor {
  position: absolute;
  left: -30%;
  top: -30%;
  z-index: -1;
  
  /* Putting text inside a circle from: https://jsfiddle.net/rkEMR/ */
  width: clamp(5rem, 13vw, 15vw);
  height: clamp(5rem, 13vw, 15vw);
  border-radius: 250px;
  font-size: clamp(5rem, 9vw, 9rem);
  line-height: clamp(5rem, 13vw, 15vw);
  text-align:center;
  color: var(--bright-white);
  background: var(--warm-orange);
}

.about-description {
  position: absolute;
  margin-left: clamp(2rem, 10vw, 15rem);
  top: clamp(60vh, 80vh, 600px);
}

/* 
  PROJECTS SECTION ========
*/

.hero-caption {
  position: absolute;
  text-align: right;
  right: 20px;
  bottom: 10px;
}

#projects {
  position: relative;
  max-height: 120vh;
  margin-bottom: 20rem;
}

.projects-wrapper {
  display: flex;
}

#projects h2 {
  margin-bottom: clamp(3rem, 10vw, 5rem);
}

.project h3 {
  position: relative;
  z-index: 2;
  margin: 0;
  top: -10px;
  left: -50px;
}

.project2 {
  position: relative;
  top: 5vw;
  left: 5vw;
}

.project2 img {
  width: clamp(33vw, 35vw, 40vw);
  object-fit: cover;
  object-position: 0 20%;
}

.project1 {
  position: absolute;
  top: 15vh;
  right: 0;
}

.project1 img {
  width: clamp(33vw, 40vw, 45vw);
  object-fit: cover;
}

/* 
  CONTACT SECTION =========
*/

#contact {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: flex-end;
}

#contact h2 {
  margin-bottom: 0;
}

.info {
  display: flex;
  gap: 0.5rem;
}

.social-icon {
  color: var(--warm-orange);
  text-decoration: none;
}

/* 
  PROJECT PAGES ================
*/

.project-hero {
  display: flex;
  justify-content: space-around;
  max-width: 100vw;
  margin-bottom: clamp(10vw, 15vw, 15rem);
  overflow: hidden;
}

.project-hero h1 {
  margin-top: clamp(3rem, 10vw, 15vw);
}

.project-hero img {
  max-width: clamp(35vw, 40vw, 45vw);
  max-height: 40vw;
  object-fit: cover;
  object-position: 0 30%;
}

@media (max-width: 1000px) {
  .project-hero {
    display: block;
    height: 100vh;
    position: relative;
  }

  .project-hero h1 {
    position: relative;
    margin-top: clamp(1rem, 5vw, 10vw);
    margin-bottom: clamp(3rem, 10vw, 15vw);
    z-index: 1;
  }

  .project-hero img {
    all: unset;
    z-index: 0;
    position: absolute;
    max-width: 70vw;
    top: clamp(13rem, 25vw, 30vw);
    right: 0;
  }
}

@media (max-width: 700px) {
  .project-hero {
    height: auto;
  }

  .project-hero img {
    all: unset;
    position: relative;
    max-width: 100%;
  }
}

.project-description {
  width: min(750px, 100% - (1rem * 2));
  margin-inline: auto;
}

.project-description h2 {
  font-size: var(--fs-500);
  line-height: calc(var(--fs-500) * 0.9);
}

.text-content p {
  max-width: 100%;
}

.img-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: min(750px, 100% - (1rem * 2));
  margin-inline: auto;
  margin-block: 2rem;
}

.img-container img,
.img-container video {
  width: 100%;
}

.carousel {
  position: relative;
}

.carousel img {
  width: 100%;
  max-height: 70vh;
  object-fit: cover;
  display: block;
}

.carousel button {
  position: absolute;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background-color: rgba(17, 17, 17, 0);
  color: var(--bright-white);
  border: none;
  opacity: 70%;
  cursor: pointer;
}

.carousel button:hover,
.carousel button:active {
  opacity: 100%;
  background-color: #1111118e;
}


.prev-button {
  left: 0px;
}

.next-button {
  right: 0px;
}

@media (max-width: 720px) {
  .img-container {
    gap: 0.5rem;
  }
  
}