:root {
  /* Font size maintenance */
  --fs-xl: 9rem;
  --fs-600: 2.5rem;
  --fs-500: 1.5rem;
  --fs-400: 1rem;
  --fs-300: 0.85rem;

  /* Colour variables */
  --bg-grey: #F7F3F0;
  --warm-orange: #F54029;
  --washed-black: #111111;
  --bright-white: #FFFFFF;
}

@media (max-width: 1024px) {
  :root {
    --fs-xl: 2.75rem;
    --fs-600: 1.5rem;
    --fs-500: 1.2rem;
  }
}

@media (max-width: 640px) {
  :root {
    --fs-xl: 2rem;
    --fs-600: 1.45rem;
  }
}

body {
  font-family: 'Hanken Grotesk', sans-serif;
  margin: 0 20px;
  padding: 0;
  background-color: var(--bg-grey);
}

/* 
  STYLE GUIDE SECTIONS -------------------
*/

.elem-section {
  border-top: solid var(--washed-black);
  margin-bottom: 6rem;
}

section h2 {
  margin-bottom: 2rem;
}

section h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

section p {
  margin-top: 0;
}

section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
}

.content-wrapper {
  margin-left: 6rem;
}

#dot {
  color: var(--warm-orange);
}

/* 
  TEXT ELEMENTS -------------------
*/
h1,
h2,
h3,
h4 {
  color: var(--washed-black);
  margin: 0;
}

h1 {
  font-size: var(--fs-xl);
  line-height: calc(var(--fs-xl) * 0.9);
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5rem;
}

h2 {
  font-size: var(--fs-600);
  line-height: calc(var(--fs-600) * 0.9);
  font-weight: 500;
}

h3 {
  font-size: var(--fs-500);
  font-weight: 700;
}

h4 {
  font-size: var(--fs-700);
  font-weight: 700;
}

p {
  font-size: var(--fs-400);
  font-weight: 400;
  width: 40vw;
  min-width: 30rem;
}

/* Changing bullet colour from:  https://www.w3.org/Style/Examples/007/color-bullets.en.html*/
ul,
ol {
  list-style: none;
  font-family: 'Roboto Mono';
  color: var(--washed-black);
}

.custom-ul li::before {
  content: "•";
  color: var(--warm-orange);
  display: inline-block;
  width: 1em;
  margin-left: -1em
}

.custom-ol li {
  counter-increment: li
}

.custom-ol li::before {
  content: counter(li);
  color: var(--warm-orange);
  display: inline-block;
  width: 1em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  text-align: right;
  direction: rtl
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.nav-button {
  display: inline-block;
  padding: 0.35em 1.5em;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid var(--washed-black);
  border-radius: 5em;
  text-decoration: none;
  -webkit-transition: background-color 0.35s ease-out;
  transition: background-color 0.35s ease-out;

  font-family: 'Roboto Mono', 'monospace';
  font-size: var(--fs-300);
  color: var(--washed-black);
}

.nav-button:hover,
.nav-button:focus {
  background-color: var(--warm-orange);
  color: var(--bright-white)
}

/* Styling for the in-text link*/
.in-text-link {
  /* Link animation from: https://codepen.io/team/css-tricks/pen/gOXMLLY */
  color: var(--washed-black);
  box-shadow: inset 0 0 0 0 var(--warm-orange);
  padding: 0 .25rem;
  margin: 0 -.25rem;
  transition: color .2s ease-in-out, box-shadow .3s ease-in-out;
}

.in-text-link:hover {
  color: var(--bright-white);
  box-shadow: inset 200px 0 0 0 var(--warm-orange);
}

.clickable-img {
  /* Grey and blur effect from: https://codepen.io/nxworld/pen/ZYNOBZ */
  -webkit-filter: grayscale(0) blur(0);
  filter: grayscale(0) blur(0);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.clickable-img:hover {
  -webkit-filter: grayscale(100%) blur(3px);
  filter: grayscale(100%) blur(3px);
}

.example-img {
  /* Crop and scale images from: https://www.digitalocean.com/community/tutorials/css-cropping-images-object-fit */
  width: 25vw;
  height: 60vh;
  object-fit: cover;
  object-position: -20% 0;
}

.logo-button:hover,
.logo-button:active {
  /* Adding border to SVG from: https://stackoverflow.com/questions/18330344/how-to-add-border-outline-stroke-to-svg-elements-in-css */
  filter:
    invert(100%) drop-shadow(-1px -1px 0px var(--washed-black)) drop-shadow(1px -1px 0px var(--washed-black)) drop-shadow(1px 1px 0px var(--washed-black)) drop-shadow(-1px 1px 0px var(--washed-black));
}


/* 
BRANDING ELEMS
*/

#colour-palette {
  border: 1px solid grey;
  width: 30vw;
}

/* 
Nav bar --------------
*/

/* Sticky nav from: https://stackoverflow.com/questions/3593594/how-to-keep-the-header-static-always-on-top-while-scrolling/58645785#58645785 */
.navbar {
  position: sticky;
  top: 0;
  z-index: 999;
}

nav {
  border-bottom: 1px solid var(--washed-black);
  background-color: var(--bg-grey);
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-inline-start: 0.5rem;
}

nav li:first-child,
nav li:nth-child(2) {
  /* Make logo stay on left side */
  margin-right: auto;
}

nav .mono-text {
  position: absolute;
  top: 25px;
  left: 10rem;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rebeccapurple;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.close-icon {
  fill: white;
}

.menu-icon {
  fill: white;
}

.menu-button {
  display: none;
}

@media (max-width: 768px) {
  .hideOnMobile {
    display: none;
  }

  .menu-button {
    display: block;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}


/* 
  WEBSITE STYLING ==============
*/

main section {
  margin-bottom: 5rem;
}

.hero-wrapper {
  margin-top: 2rem;
  max-width: 100vw;
  height: 80vh;
}

.hero-title {
  position: relative;
  max-width: 100%;
  height: 100%;
  text-align: right;
}

.hero-title h1 {
  margin: 0;
  line-height: 8rem;
}

.line {
  position: relative;
}

.first {
  right: 5%;
}

.second {
  right: 20%;
}

.third {
  right: 0;
}

.dot-decor {
  position: absolute;
  right: 580px;
  top: 200px;
  z-index: -1;

  width:200px;
  height:200px;
  border-radius:250px;
  font-size:var(--fs-xl);
  color: var(--bright-white);
  line-height:200px;
  text-align:center;
  background: var(--warm-orange);
}

.about-description {
  position: absolute;
  margin-left: 10rem;
  top: 580px;
}

.mono-text {
  font-family: 'Roboto Mono', monospace;
  font-size: 0.8rem;
}

.hero-caption {
  position: absolute;
  text-align: right;
  right: 20px;
  bottom: 10px;
}

#projects {
  position: relative;
  margin-bottom: 15rem;
}

#projects h2 {
  margin-bottom: 15rem;
}

.project2 {
  position: relative;
  left: 15vw;
}

.project2 h3 {
  position: absolute;
  z-index: 999;
  margin: 0;
  top: -40px;
  left: -50px;
}

.project2 img {
  width: 500px;
  height: 600px;
  object-fit: cover;
  object-position: 0 20%;
}

.project1 {
  position: absolute;
  top: 20vh;
  right: 0;
}

.project1 img {
  width: 600px;
  height: 400px;
  object-fit: cover;
  object-position: 0 20%;
}

.project1 h3 {
  position: absolute;
  z-index: 999;
  margin: 0;
  top: -40px;
  left: -50px;
}

#contact {
  margin: 2rem
}

#contact {
  display: flex;
  width: fit-content;
  justify-content: flex-end;
  align-items: end;
}

#contact h2{
  margin-bottom: 0;
  margin-right: 3rem;
}

.info {
  display: flex;
  gap: 0.5rem;
}

.social-icon {
  color: #F54029;
  text-decoration: none;
}

/* 
  PROJECT PAGES ================
*/

.project-hero {
  display: flex;
  gap: clamp(5vw, 25vw, 40vw);
  margin-bottom: 5rem;
}

.project-hero img {
  width: clamp(35vw, 40vw, 45vw);
  height: 30vw;
  object-fit: cover;
  object-position: 0 30%;
}

.project-description {
  width: min(750px, 100% - (1rem * 2));
  margin-inline: auto;
  margin-block: 3rem;
}

.project-description h2 {
  margin-bottom: 1.5rem;
}

.text-content p {
  width: 100%;
}

.img-container {
  display: flex;
  justify-content: center;
  max-width: 100vw;
  gap: 1rem;
  margin-block: 2rem;
}

.img-container img, .img-container video {
  max-height: 33vw;
}